node_modules

dist

.git
.gitignore

.idea
.vscode
*.swp
*.swo

.env
.env.*
!.env.example

Dockerfile
docker-compose*.yml
.dockerignore

test
coverage
*.spec.ts

*.md
!README.md

logs
*.log
npm-debug.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

.eslintcache
.prettierignore
